[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "==1.6.*"
aniso8601 = "==9.0.*"
certifi = "==2021.5.*"
chardet = "==4.0.*"
click = "==8.0.*"
flask-marshmallow = "==0.14.*"
flask-restplus = "==0.13.*"
idna = "==3.*"
itsdangerous = "==2.0.*"
jsonschema = "==3.2.*"
marshmallow = "==3.13.*"
marshmallow-sqlalchemy = "==0.26.*"
python-dateutil = "==2.8.*"
python-editor = "==1.0.*"
pytz = "==2021.*"
requests = "==2.26.*"
six = "==1.16.*"
urllib3 = "==1.26.*"
Flask = "==2.0.*"
Flask-Cors = "==3.0.*"
Flask-SQLAlchemy = "==2.5.*"
Jinja2 = "==3.0.*"
Mako = "==1.1.*"
MarkupSafe = "==2.0.*"
SQLAlchemy = "==1.4.*"
Werkzeug = "==2.0.*"
flask-wtf = "*"

[dev-packages]

[requires]
python_version = "3.8"
