<head>
    <title>Events API</title>
</head>

{% block content %}
<body>
    <p>App is running!</p>

<h1>Endpoints</h1>

<ul>
    <li><code>/api/contacts</code> (GET) - List all contacts.</li>

    <li><code>/api/contacts/&lt;id&gt;</code> (GET) - List individual contact detail by ID.</li>

    <li><code>/api/events</code> (GET) - List all events.</li>

    <li><code>/api/events/&lt;id&gt;</code> (GET) - List individual event detail by ID.</li>

    <li><code>/api/events</code> (GET) - List all locations.</li>

    <li><code>/api/events/&lt;id&gt;</code> (GET) - List individual location detail by ID.</li>

    <li><code>/api/rsvps</code> (GET) - List all rsvps.</li>

    <li><code>/api/rsvps/&lt;id&gt;</code> (GET) - List individual rsvp detail by ID.</li>
</ul>

</body>


{% endblock %}
